<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$conf.sitename}</title>
    <meta name="keywords" content="{$conf.keywords}">
    <meta name="Description" content="{$conf.desc}">
    <link rel="stylesheet" href="__index__tem1/style/index.css">
    <script src="__index__tem1/style/jquery-1.12.4.min.js"></script>
</head>

<body>
    <div id="top">
        <div id="topbar">
            <div id="topleft">
                <img src="{$conf.logo}" alt="">
            </div>
            <div id="topright">
                <a href="{:url('index/index/sel')}">订单查询</a>
            </div>
        </div>
    </div>
    <form action="{:url('index/alipay/pay')}" method="post" >
    <div id="shop">
        <div id="shopleft">
            <div id="spk">
                <div id="xzsp">
                    <h5>选择商品</h5>
                </div>
                <div>
                    <h6>商品分类</h6>
                    <select name="" id="type">
                        <option value="" selected='selected'>请选择分类</option>
                        {volist name='type' id='type'}
                        <option value="{$type.id}">{$type.typename}</option>
                        {/volist}
                    </select>
                </div>
                <div>
                    <h6>商品名称</h6>
                    <select name='goods' id="goods">
                        <option value="">请选择商品</option>
                    </select>
                </div>
                <div>
                    <h6>商品单价</h6>
                    <span id="price" style="color:red;font-size: 18px;">0.00</span>
                    <span>元</span>
                </div>
                <div>
                    <h6>商品库存</h6>
                    <span id='stock'>0.00</span>
                    <span>个</span>
                </div>
                <div>
                    <h6>购买数量</h6>
                    <input type="text" id="count" name='count'>
                </div>
                <div>
                    <h6>联系方式</h6>
                    <input type="text" name='tel'>
                </div>
                <div>
                    <h6>接收邮箱</h6>
                    <input type="text" name='email'>
                </div>
                <div id="money">
                    <h6>您应付总额为</h6>
                    <span id="paymoney" style="color:red; font-size: 18px;">0.00</span>
                    <h6>元</h6>
                </div>
                <input type="text"style="display:none" name='order' id="order" value="">
            </div>
        </div>
        <div id="shopright">
            <div id="sdxx">
                <div id="sdxxk">
                    <h5 id="sdxxkk">商店信息</h5>
                </div>
                <div>
                    <h6>详情介绍</h6>
                    <p id="desc">这个小店主营巴拉巴拉</p>
                </div>
            </div>
        </div>
    </div>

    <div id="pay">
        <div id="paysel">
            <h6>支付方式</h6>
            <ul>
                {volist name='pay' id='pay'}
                {if($pay.id==1)}
                <li>
                    <input type="radio" name='paysel' value='1'>
                    <img src="__index__/img/newali.png" alt="">
                </li>
                {elseif ($pay.id==2)}
                <li>
                    <input type="radio" name='paysel' value='2'>
                    <img src="__index__/img/weixin.gif" alt="">
                </li>
                {else /}
                {/if}
                {/volist}

            </ul>
            <div id="submit"><input id="buysubmit" type="submit" value="选择支付方式，进行购买"></div>
        </div>
    </div>

    <div id="msg">
        <div id="msg_title">
            <h1>提示信息</h1>
        </div>
        <div id="msg_content">
            <h1 style="color: red;font-size: 16px;" id="msg_msg">提示信息</h1>
            <input id="msg_submit" type="button" value="确认">
        </div>
    </div>

</form>
    <div id="footer">
        <div id="footerbar">
            <h6>{$conf.info}</h6>
        </div>
    </div>

</body>
<script>
        $(function(){
            //商品类型一变化 请求商品列表数据
            $('#type').change(function(){
                $('#sdxxkk').html('商品信息')
                $('#desc').html('')
                $.ajax({
                    type:'post',
                    url:"{:url('index/index/getgoods')}",
                    data:{'typeid':$('#type').val()},
                    dataType:"json",
                    success:function(data){
                        // console.log(data)
                        var option=$("<option></option>");
                        $(option).val("0");
                        $(option).html("请选择商品");
                        $('#goods').html(option);
                        $.each(data,function(i,item){
                            var option=$("<option></option>");
                            $(option).val(item.id);
                            $(option).html(item.goodname);
                            $('#goods').append(option)
                        })
                    }
                    
                })
            });

            //商品一变化请求价格等商品详细数据
            $('#goods').change(function(){
                $.ajax({
                    type:'post',
                    url:"{:url('index/index/getgood')}",
                    data:{'goodsid':$('#goods').val()},
                    dataType:"json",
                    success:function(data){
                        // console.log(data)
                        // console.log(data.goodcount)
                        $('#price').html(data.goodprice)
                        $('#stock').html(data.goodcount-data.goodsold)
                        $('#desc').html(data.gooddesc)
                    }
                    
                })
            });

            //数量一变化 计算价格
            $('#count').change(function(){
                // console.log($('#count').val())
                // console.log($('#price').html())
                var paymoney = $('#count').val()*$('#price').html()
                // console.log(paymoney.toFixed(2))
                $('#paymoney').html(paymoney.toFixed(2))
            });

            //表单验证
            $('#buysubmit').click(function(){
                data = $("form").serialize();
                console.log(data)
                $.ajax({
                    type:'post',
                    url:"{:url('pay/pay/pay')}",
                    data:data,
                    dataType:'json',
                    success:function(data){
                        console.log(data)
                        var newUrl = data['url'];
                        var order = data['order'];
                        $("form").attr('action',newUrl);
                        $("#order").val(order);
                        $("form").submit();
                        // window.location.href = "https://www.baidu.com/";
                    },
                    error:function(data){
                        $('#msg_msg').html(data['responseJSON']['msg']);
                        $('#msg').show();
                    }

                })

                return false

            })


            //弹出框点击隐藏
            $("#msg_submit").click(function () {
                $("#msg").hide();
            });
            




        });   

    </script>
</html>