<!DOCTYPE html>
<html>

<head>
    <!-- 引入头部样式 -->
    {include file="common/head" /}
</head>

<body>
    <!-- 头部 -->
    <!-- 引入头部 -->
    {include file="common/top" /}
    <!-- /头部 -->

    <div class="main-container container-fluid">
        <div class="page-container">

            <!-- 左边栏 -->
            <!-- 引入左边栏 -->
            {include file="common/left" /}
            <!-- /左边栏 -->


            <!-- 页面内容容器 -->
            <div class="page-content">
                <!-- 页面面包屑导航 -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li class="active">控制面板</li>
                    </ul>
                </div>
                <!-- /页面面包屑导航 -->

                <!-- 页面内容 -->
                <div class="page-body">


                </div>


            </div>
            <!-- /页面内容 -->
        </div>
        <!-- /页面内容容器 -->
    </div>

</body>
<!-- 引入底部js -->
{include file="common/foot" /}